<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="codelab-form">
  <template>
    <style>
      :host {
        display: block;
        margin: 0px;
      }
      form {
        padding: 20px;
        background: #fafafa;
        border-radius: 6px;
      }
      textarea {
        display: block;
        width: 90%;
        height: 30px;
        padding: 4px 8px;
        font-size: 13px;
        line-height: 2.3;
        color: #555;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin-bottom: 5px;
      }
      .error {
        color: red;
        font-size: .9em;
        font-style: italic;
        margin-left: 10px;
      }
      .field {
        margin-bottom: 12px;
      }
      button {
        color: #333;
        border-color: #ccc;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid #555;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
      }
      select {
        height: 40px;
        width: 50%;
        height: 30px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
    </style>
    <form on-submit="{{validateCodelab}}">
        <div class="field">
            <textarea placeholder="Add title" value="{{codelab.title}}"
                    on-keyup="{{validateTitle}}">
            </textarea>
        </div>
        <div>
            <span class="chars-left">{{maxTitleLength - codelab.title.length}}</span>
            <span class="error" hidden?="{{titleErrorMessage.isEmpty}}">
            {{titleErrorMessage}}
            </span>
        </div>
        <div class="field">
            <textarea placeholder="Add description" value="{{codelab.description}}"
                    on-keyup="{{validateDescription}}">
            </textarea>
        </div>
        <div>
            <span class="chars-left">{{maxDescriptionLength  - codelab.description.length}}</span>
        </div>
        <span class="error" hidden?="{{descriptionErrorMessage.isEmpty}}">
        {{descriptionErrorMessage}}
        </span>
        <div class="field">
            <label>Level: </label>
            <select value="{{codelab.level}}">
                <option template repeat="{{level in allLevels}}">{{level}}</option>
            </select>
        </div>
        <div>
            <button type="submit">Submit</button>
            <button type="button" on-click="{{cancelForm}}">Cancel</button>
        </div>
    </form>
  </template>
  <script type="application/dart" src="codelab_form.dart"></script>
</polymer-element>
