<link rel="import" href="packages/polymer/polymer.html">

<link rel="import" href="codelab_form.html">

<polymer-element name="codelab-element">
  <template>
    <style>
      :host {
        display: block;
        margin: 0px;
        margin: 12px 0;
        background: #fcfcfc;
        border-radius: 6px;
      }
      .codelab {
        padding: 10px;
      }
      .codelab .field {
        margin-bottom: 8px;
      }
      .codelab .field h2 {
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        font-size: 1.8em;
      }
      .small {
        font-size: .8em;
	cursor: pointer;
      }
    </style>
      <div on-formNotNeeded="{{cancelEditing}}"
           on-codelabvalidated="{{updateCodelab}}">
          <template if="{{!editing}}">
              <div class="field">
                  <h2>{{codelab.title}}</h2>
              </div>
              <div class="field">
                  <h2>{{codelab.description}}</h2>
              </div>
              <div class="field">
                  <p><span>Level: </span> {{codelab.level}}</p>
              </div>
              <div class="field">
                  <span on-click="{{startEditing}}" class="small">Edit</span>
                  <span on-click="{{deleteCodelab}}" class="small">Delete</span>

              </div>
          </template>
          <template if="{{editing}}">
              <codelab-form codelab="{{codelab}}"></codelab-form>
          </template>
       </div>
  </template>
  <script type="application/dart" src="codelab_element.dart"></script>
</polymer-element>
